build
bin

# CMake
CMakeFiles
CMakeCache.txt

# Visual Studio Code
.vscode
.settings

# Visual Studio
_ReSharper*
*.sdf
*.suo
*.dir
*.vcxproj*
*.sln
.vs
CMakeSettings.json
Win32
x64
Debug
Release
Profile
MinSizeRel
RelWithDebInfo
*.opensdf
